* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
   padding: 0;
   margin: 0;
   background: #F4733D;
   font-family: 'Economica', sans-serif;
}

h2 {
  font-size: 1.7em;
}

.main_wrapper {
  position: relative;
   font-size: 1.2em;
   margin: 2em auto;
   width: 55%;
   text-align: center;
   background-color: #F6F7F8;
   padding: 1em;
   border-radius: 15px;

      -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
   -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
   box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.ribbon {
  position: absolute;
  right: 0;
  height: 50px;
  width: 112px;
  bottom: 15px;
}

.main_wrapper>div {
  width: 66%;
  margin: 0 auto;
}

.label {
  font-weight: 700;
  font-size: 1.2em;
}

input {
  font-size: 1.2em;
  text-align: center;
  margin: 10px 0;
}

button {
  font-size: 1em;
}

p {
  line-height: 1.5em;
}

p>span {
  color: #cc4422;
  font-size: 1.4em;
}

p>.comment {
  color: #394191;
  font-size: .8em;
}

p.about {
  margin-top: 1em;
  margin-bottom: 50px;
  font-size: .8em;
}